@import 'dark-theme-colors';
@import 'functions';

.App__dark {
  &, *:before, *:after {
    /* Color variables */
    --col-bg-primary: #{$col-bg-primary};
    --col-divider: #{$col-bg-divider};
    --col-txt-primary: #{$col-txt-primary};
    --col-primary-outlined-border: #{$col-primary-outlined-border};
    --col-primary-hover: #{$col-primary-hover};
    --col-primary-main: #{$col-primary-main};

    /* UI variables */
    --ui-border: #{to-rem(1)} solid #{$col-bg-divider};
    --ui-app-background: #{$col-bg-primary};
    --ui-app-home-gradient-2: linear-gradient(0deg, #000000 0%, rgba(0 0 0 / 0) 94.59%);
    --ui-app-home-gradient:
      radial-gradient(84.49% 84.49% at 50% -29.58%, rgba(138 181 164 / 0.1) 0%, rgba(138 181 164 / 0) 100%),
      linear-gradient(0deg, rgba(255 255 255 / 0.01), rgba(255 255 255 / 0.01));
  }
}
