/* stylelint-disable */
body .markdown-viewer {
  body {
    color: #333;
    font: 15px Helvetica, arial, freesans, clean, sans-serif;
    word-wrap: break-word;
    line-height: 1.7;
    padding: 0 20px 20px 20px;
    width: 722px;
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #4183c4;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  p, blockquote, ul, ol, dl, table, pre {
    margin: 15px 0;
  }

  //ol {
  //  list-style-type: decimal;
  //}
  //
  //ul {
  //    list-style-type: disc;
  //}
  //
  //li {
  //  list-style-type: inherit;
  //}

  ul, ol {
    padding-left: 30px;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2.0em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1.0em;
  }

  h6 {
    font-size: 1.0em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.7;
    margin: 1em 0 15px 0;
  }

  h1 + p, h2 + p, h3 + p {
    margin-top: 10px;
  }

  img {
    max-width: 100%;
  }

  code,
  pre {
    background-color: #F8F8F8;
    border-radius: 3px;
    border: 1px solid #DDD;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 12px;
    margin: 0 2px;
    padding: 0 5px;
    white-space: pre;
  }

  pre code {
    border: none;
    margin: 0;
    padding: 0;
    white-space: pre;
  }
}
/* stylelint-enable */